:root{
    --TextColor:	#F8F8FF;
    --PrimaryColor:#53565a;
    --SecondaryColor:	#FFFAFA;
    --TertiaryColor:#B8382F;
    --NavBackgroundColor:#4c535f;
}
*{
    font-family: 'Montserrat';
}
body{
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    background: radial-gradient(#8091afd7,var(--PrimaryColor));
}
header{
    width: 100%;
}
